form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

div {
    margin-bottom: 10px;
}

label {
    margin-bottom: 20px;
}

.header {
    text-align: center;
    font-size: 50px;
    margin-bottom: 0%;
    color: #2E475D;
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    text-align: center;
    font-size: 125px;
    margin-bottom: 0%;
    color: #2E475D;
    font-family: 'Lexend Deca', sans-serif;
}
body{
    background-color: #dcd6b4;

}
input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 10px 0;
}

button { 
    margin: 20px 0;
    padding: 15px 40px;
    background-color: transparent;
    border: 3px solid #2E475D;
    border-radius: 10px;
    color: #2E475D;
    font-size: 24px;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 2px#2E475D;
  }

.button-container{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    gap : 160px;
} 