@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

.logo-container {

    padding-top: 20%;
    justify-content: center;
    display: flex;
}

  .text-line {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: dash 2.5s linear forwards, filling 2.5s ease-in forwards;
    font-size: 120px;
  }
  
  .text-line text {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    font-style: normal;
    
  }
  
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes filling {
    0%, 90% { fill: #2E475D; fill-opacity: 0; }
    100% { fill: #2E475D; fill-opacity: 1; }
  }


h2 {
    margin-top: 5%;
    text-align: center;

    }
    
    body {
      margin: auto;
      width: 640px; 
      padding: 10px;
      font-family: 'Lexend Deca', sans-serif; 
      color: #2E475D;    
      background-color: #dcd6b4;
    }


button { 
    margin: 20px 0;
    padding: 15px 40px;
    background-color: transparent;
    border: 3px solid #2E475D;
    border-radius: 10px;
    color: #2E475D;
    font-size: 24px;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 2px#2E475D;
  }

.button-container{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    gap : 160px;
}